
.search{
    width : 100%;
    display : flex;
    align-items: centre;
    justify-content: space-evenly; ;
}
.search input{
    background-color : white;
    color : black;
    font-size: small;
}
header{
    display: inline;
    justify-content: space-evenly;
}


.aujourdhui{
    background-color: blue;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meteo{
    color: white;
    display: flex;
    gap : 2% ;
    
}
.jour{
    width: 100px;
    height: 60px;
    justify-content: space-between;
    background-color: blue;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.partie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ta{
    font-size: 700%;

}
@media only screen and (max-width: 600px) {
    .prochaine-jour{
        width: 270px;
        height: 100px;
    }
    .aujourdhui{
        width: 100px;
        height: 150px;
    }
  }